.mod {
  width: 1473px;
  height: 746px;
  font-family: Inter;
}
.block {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 746px;
  background-color: #ffffff;
}
.empty {
  position: absolute;
  left: 447px;
  top: -49px;
  width: 36px;
  height: 2px;
}
.primary {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 1473px;
  height: 745px;
  background-image: url(../images/img_10.png);
  background-size: contain;
}
.wrapper {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  align-items: center;
  width: 1473px;
  height: 70px;
  background-color: #302e2e;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.groupItem0 {
  display: flex;
  align-items: center;
  margin-left: 179px;
  margin-right: 33px;
}
.iconLine {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.info {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}
.groupItem1 {
  display: flex;
  align-items: center;
  margin-right: 36px;
}
.iconTool {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.tag {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}
.groupItem2 {
  display: flex;
  align-items: center;
  margin-right: 27px;
}
.iconText {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.meta {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  color: #5a91fb;
  text-align: center;
  white-space: nowrap;
}
.groupItem3 {
  display: flex;
  align-items: center;
  margin-right: 415px;
}
.iconLocate {
  width: 20px;
  height: 20px;
  margin-right: 11px;
}
.label {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}
.group {
  display: flex;
  align-items: center;
}
.iconCircle {
  width: 40px;
  height: 40px;
  margin-right: 14px;
}
.yuzhouWrapper {
  display: flex;
  align-items: center;
  width: 99px;
  height: 30px;
  margin-right: 11px;
  background-color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
  box-shadow: inset 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.yuzhou {
  overflow: hidden;
  max-width: 93px;
  margin-top: 1px;
  margin-left: 14px;
  font-size: 18px;
  color: #000000;
  text-align: left;
  text-overflow: ellipsis;
}
.iconDown {
  width: 20px;
  height: 10px;
  margin-top: 4px;
}
.wrapper1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 136px;
  height: 746px;
  margin-right: 33px;
  background-color: #ffffff;
  font-weight: 100;
  white-space: nowrap;
  box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.icon {
  position: relative;
  align-self: flex-end;
  width: 34px;
  height: 33px;
  margin-top: 21px;
  margin-right: 12px;
  white-space: normal;
}
.word {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 29px;
  max-width: 90px;
  margin-top: 81px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.tag1 {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 31px;
  max-width: 90px;
  margin-top: 60px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.label1 {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 31px;
  max-width: 90px;
  margin-top: 56px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.word1 {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 31px;
  max-width: 90px;
  margin-top: 56px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.tag2 {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 31px;
  max-width: 90px;
  margin-top: 56px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.labelWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 61px;
  margin-top: 39px;
  background-color: #b5dff7;
  line-height: 20px;
  box-shadow: 6px 0px 6px 0px rgba(48, 46, 46, 0.30000001192092896);
}
.label2 {
  overflow: hidden;
  max-width: 124px;
  margin-top: 4px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.wrapper2 {
 position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
overflow: scroll;
width: 1253px;
height: 603px;
margin-top: 108px;
background-color: rgba(255,255,255,0);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
border-radius: 8px;
}
.class1 {
  position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(255,255,255,0);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
border-radius: 8px;
opacity: 1;
}
.word2 {
  position: relative;
  overflow: hidden;
  height: 55px;
  max-width: 1067px;
  margin-top: 0px;
  margin-left: 77px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
}
.groupItem01 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1221px;
  height: 160px;
  margin-top: 25px;
  background-color: #ffffff;
  line-height: 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.view {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-left: 81px;
  font-weight: 100;
}
.tag3 {
  margin-right: 33px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.video {
  margin-right: 73px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.view1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  height: 19px;
  margin-top: 28px;
  margin-left: 102px;
  font-weight: 700;
}
.label3 {
  margin-top: -2px;
  font-size: 20px;
  color: #1e895c;
  text-align: center;
}
.word3 {
  margin-top: 2px;
  font-size: 20px;
  color: #706a6a;
  text-align: center;
}
.view2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-end;
  height: 24px;
  margin-right: 53px;
  line-height: 14px;
}
.tag4 {
  margin-right: 17px;
  font-size: 14px;
  font-weight: 700;
  color: #5a91fb;
  text-align: center;
}
.label4 {
  font-size: 14px;
  font-weight: 100;
  color: #5a91fb;
  text-align: center;
}
.groupItem11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1221px;
  height: 160px;
  margin-top: 24px;
  background-color: #ffffff;
  line-height: 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.view3 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-left: 81px;
  font-weight: 100;
}
.word4 {
  margin-right: 33px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.videoName {
  margin-right: 73px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.info1 {
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.view4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  height: 19px;
  margin-top: 28px;
  margin-left: 102px;
  font-weight: 700;
}
.tag5 {
  margin-top: -2px;
  font-size: 20px;
  color: #5a91fb;
  text-align: center;
}
.label5 {
  margin-top: 2px;
  font-size: 20px;
  color: #706a6a;
  text-align: center;
}
.view5 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-end;
  height: 24px;
  margin-right: 53px;
  line-height: 14px;
}
.word5 {
  margin-right: 17px;
  font-size: 14px;
  font-weight: 700;
  color: #5a91fb;
  text-align: center;
}
.tag6 {
  font-size: 14px;
  font-weight: 100;
  color: #5a91fb;
  text-align: center;
}
.groupItem21 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1221px;
  height: 160px;
  margin-top: 23px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.view6 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-left: 81px;
  font-weight: 100;
}
.label6 {
  margin-right: 33px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.music {
  margin-right: 73px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.meta1 {
  margin-right: 221px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.view7 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  height: 19px;
  margin-top: 15px;
  margin-left: 102px;
  font-weight: 700;
  line-height: 20px;
}
.tag7 {
  margin-top: -2px;
  font-size: 20px;
  color: #d20606;
  text-align: center;
}
.label7 {
  margin-top: 2px;
  font-size: 20px;
  color: #706a6a;
  text-align: center;
}
.view8 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-end;
  height: 24px;
  margin-right: 53px;
  line-height: 14px;
}
.word7 {
  margin-right: 17px;
  font-size: 14px;
  font-weight: 700;
  color: #5a91fb;
  text-align: center;
}
.tag8 {
  font-size: 14px;
  font-weight: 100;
  color: #5a91fb;
  text-align: center;
}
